@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Kadwa', serif;
}

button {
    border: none; /* Remove borda padrão */
    outline: none; /* Remove contorno padrão */
}

body{
    background-image: url(../assets/fundo\ energia\ limpa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

main{
    margin: 5vw; /* Espaçamento ajustado para 5% da largura da tela */
}

.header {
    
    width: 100vw; /* Ocupa toda a largura da janela */
    height: 16vh; /* Altura relativa à altura da janela */
    background: rgba(0, 0, 0, 0.37); /* Fundo preto translúcido */
    position: fixed; /* Fixa o header no topo da página */
    top: 0; /* Alinha no topo */
    left: 0; /* Alinha à esquerda */
    display: flex; /* Ativa o layout flexível */
    align-items: center; /* Alinha itens verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens uniformemente */
    padding: 1rem 6.5rem; /* Espaçamento interno 
     /* Espaço horizontal interno */
    z-index: 10; /* Garante que o header fique sobre outros elementos */

}

.img-logo{
    width: 6vw; /* Largura ajustada para 6% da largura da tela */
    height: auto; /* Altura ajustada proporcionalmente */
    position: absolute;
    left: 5vw; /* Largura ajustada proporcionalmente */
    top: 1vh; /* Altura ajustada proporcionalmente */
}

.link_dicas, .link_perguntas, .link_energia, .link_cadastro, .link_login{
    position: absolute;
    font-size: 1.5rem; /* Tamanho de fonte ajustado para rem */
    line-height: 3rem; /* Altura da linha ajustada */
    text-align: center;
    color: #FFFFFF;
    font-family: 'Kadwa', serif;
}

.link_dicas{
    width: 15vw; /* Largura ajustada para 15% da largura da tela */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    left: 15vw; /* Posição ajustada */
    top: 2vh; /* Posição ajustada */
}

.link_perguntas{
    width: 22vw; /* Largura ajustada para 22% da largura da tela */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    left: 45vw; /* Posição ajustada */
    top: 2vh; /* Posição ajustada */
}

.link_energia{
    width: 22vw; /* Largura ajustada para 22% da largura da tela */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    left: 25vw; /* Posição ajustada */
    top: 2vh; /* Posição ajustada */
}

.link_cadastro{
    width: 20vw; /* Largura ajustada para 20% da largura da tela */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    left: 75vw; /* Posição ajustada */
    top: 2vh; /* Posição ajustada */
    border-radius: 50px; /* Borda arredondada */
    background: #46562E;
}

.link_login{
    width: 15vw; /* Largura ajustada para 15% da largura da tela */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    left: 80vw; /* Posição ajustada */
    top: 2vh; /* Posição ajustada */
    background: #72A428;
    border-radius: 50px; /* Borda arredondada */
}

h1{
    font-family: 'Kadwa', serif;
    font-size: 3rem; /* Tamanho de fonte ajustado para rem */
    width: 40vw; /* Largura ajustada para 40% da largura da tela */
}

.forms{
    margin-top: 10vh; /* Espaçamento ajustado para 10% da altura da tela */
    margin-bottom: 5vh; /* Espaçamento ajustado para 5% da altura da tela */
    font-size: 1.5rem; /* Tamanho de fonte ajustado para rem */
    font-family: 'Kadwa', serif;
}

.cards{
    width: 25vw; /* Largura ajustada para 25% da largura da tela */
    height: 30vh; /* Altura ajustada para 30% da altura da tela */
    background: #260E0B;
    border-radius: 2rem; /* Borda arredondada */
}

.position-dois, .position-tres, .position-quatro, .position-cinco, .position-seis{
    position: relative;
}

.position-dois{
    left: 35vw; /* Posição ajustada para 35% da largura da tela */
    bottom: 30vh; /* Posição ajustada para 30% da altura da tela */
}

.position-tres{
    left: 60vw; /* Posição ajustada para 60% da largura da tela */
    bottom: 50vh; /* Posição ajustada para 50% da altura da tela */
}

.position-quatro{
    bottom: 70vh; /* Posição ajustada para 70% da altura da tela */
}

.position-cinco{
    left: 35vw; /* Posição ajustada para 35% da largura da tela */
    bottom: 80vh; /* Posição ajustada para 80% da altura da tela */
}

.position-seis{
    left: 60vw; /* Posição ajustada para 60% da largura da tela */
    bottom: 90vh; /* Posição ajustada para 90% da altura da tela */
}

h2{
    width: 80%; /* Largura ajustada para 80% da largura do contêiner */
    height: auto; /* Altura ajustada automaticamente */
    color: #FFF;
    text-align: center;
    font-size: 1.5rem; /* Tamanho de fonte ajustado para rem */
    font-family: 'Kadwa', serif;
    padding: 2vw; /* Espaçamento ajustado para 2% da largura da tela */
}

.texto-cards{
    width: 80%; /* Largura ajustada para 80% da largura do contêiner */
    color: #FFF;
    text-align: center;
    font-family: 'Kadwa', serif;
    font-size: 1.2rem; /* Tamanho de fonte ajustado para rem */
    line-height: 1.5rem; /* Altura da linha ajustada para legibilidade */
    padding: 2vw; /* Espaçamento ajustado para 2% da largura da tela */
}

.texto-card-seis{
    position: relative;
    top: 2vh; /* Posição ajustada para 2% da altura da tela */
}

input{
    border-radius: 3rem; /* Bordas arredondadas */
    width: 50%; /* Largura ajustada para 50% da largura do contêiner */
    height: 6vh; /* Altura ajustada para 6% da altura da tela */
    font-size: 1rem; /* Tamanho de fonte ajustado para rem */
    font-family: 'Kadwa', serif;
}

::placeholder{
    padding-left: 2vw; /* Espaçamento ajustado para 2% da largura da tela */
}

.footer{
    background: #1A2011; 
    text-align: center;
    width: 100%; /* Largura total da tela */
    padding: 2vw; /* Espaçamento ajustado para 2% da largura da tela */
    font-family: 'Kadwa', serif;
    font-size: 1.5rem; /* Tamanho de fonte ajustado para rem */
}
