@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');


body {
    background-image: url('../assets/login\ fundo\ amaryllis.png'), url('../assets/login\ fundo\ cadastro.png');
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 110%, 50% 110%;
    height: 100vh;
    color: white;
}


.logo{
    margin-top: 80px;
    padding-left: 13%;
}

.logo .amaryllis a{
    color: white;
    text-decoration: none;
    font-family: Kadwa;
    font-size: 80px;    
}

.logo .greenend a{
    color: white;
    text-decoration: none;
    font-family: Kadwa;
    font-size: 24px;
    padding-left: 90px;
}


.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40vh;
    padding-right: 140px;
}

.login a{
    text-decoration: none;
    color: #BF5747;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-family: Inter;
    font-size: 20px;
}

.form {
    max-width: 400px;
    width: 100%;
    padding: 135px;
    border-radius: 10px;
    margin-right: 0;
    margin-top: -50px;
}

.form h1 {
    text-align: left;
    font-family: Kadwa;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 400;
}

.form h2{
    font-family: Kadwa;
}

.area {
    margin-bottom: 20px;
}

.area input {
    width: 460px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border-radius: 27px;
    border: 1px solid #D9D9D9;
}

.area h2 {
    font-size: 24px;
    margin-bottom: 12px;
    color: #ffffff;
    font-family: Inter;
    font-weight: 400;
}

.error-input {
    color: rgb(255, 120, 120);
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.checkbox-container{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.checkbox-container2{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    margin-top: 20px;
}

button {
    width: 440px;
    height: 74px;
    padding: 12px;
    font-size: 32px;
    background-color: #7D3429;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    font-family: Inter;
}

button:hover {
    background-color: #4b1f19;
}

.response-message {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}